.game-layout {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  display: grid;
  box-sizing: border-box;
  background-color: #111827;
  color: white;
  margin: 0;
  grid-template-areas:
    "header header"
    "volition discovery"
    "tier tier"
    "nav nav";
  grid-template-rows: auto auto 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 1024px) {
  .game-layout {
    grid-template-areas:
      "header header header"
      "volition tier discovery"
      "nav tier .";
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 17rem auto 17rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
